
*{margin:0px;padding:0px;}

html, body {
	height: 100%;
	font-family: Roboto-Light;
}
@font-face{

	font-family: Roboto-Light;
	src: url("../fonts/Roboto-Light.ttf");



}

.clearfix{
	overflow: hidden;
	clear: both;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}
.bground{
	background-color: #07538b;
}
#banner-nav{
	position: relative;
	h1{
		position: absolute;
		padding-left: 550px;
		font-size: 30px;
		top: 180px;
		color: #fff;
		font-weight: bold;
	}

}

.navbar-fixed-top{
	width: 1050px;
}
.navbar-default{
	margin: 0px 60px;
	padding: 14px 0px 14px 0px;
	.navbar-header{
   		.navbar-brand{
			margin-left: 30px;
		}
	}
	.navbar-nav {
	margin-right: 0px;
	padding-right: 15px;
	li{
		list-style-type: none;
		a{
			font-size: 12px;
			font-weight: bold;
			color: #4e4e4e;
			&:hover{
				color: #22b5e2;
				transition: all 0.4s;
				}	
			&:before{
				content: "";
				background-color: #22b5e2;
				position: absolute;
				height: 4px;
				width: 0%;
				top: -14px;
				left: 0;
				transition: all 0.4s;
				}
			&:hover:before{
				width: 100%;
				}
			i{
				color: #dadada;
				}
			span{
				font-size: 16px;
				}					
			}
		ul li a{
				color: #747475;
				&:hover{
					color: #fff;
				}
			}	
		}

	}

}

nav ul li{
	position: relative;
	ul{
		background-color: #fdd545;
		position: absolute;
		visibility: hidden;	
		z-index: 100;
		li{
			padding: 10px 10px 10px 10px;
			width: 150px;
			border-bottom: solid 1px #b9b9bc; 
			text-align: center;
			a{
				&:before{display: none;}
			}
			ul{
				margin-left: 140px;
				top:0;
			}
		}
	}
	&:hover ul{
		visibility: visible;
		transition: all 0.4s;
	}
}


@media (max-width: 768px){
	#banner-nav{
		h1{
			padding-left: 350px;
			font-size: 20px;
			top: 130px;
		}
		.bn{
			padding-top: 10px;
		}
	}
	.navbar-default{
		padding: 5px 0px 5px 0px;
		.navbar-nav {
			li{
				a{
					padding-right: 12px;
					font-size: 9px;
					&:before{
					content: "";
					background-color: #22b5e2;
					position: absolute;
					height: 4px;
					width: 0%;
					top: -5px;
					left: 0;
					transition: all 0.4s;
					}
				}
			}
		}
	}
}
@media (max-width: 414px){
	.navbar-default{
		padding: 0px;
	}
	#banner-nav{
		h1{
			visibility: hidden;
		}
		.navbar-brand{
			padding-left: 50px;
		}
		.bn{
			padding-top: 45px;
		}
		.navbar-nav {
			li{
				border-bottom: solid 1px #dadada;	
			&:last-child{
					border-bottom: none;
				}	
			}
		}
	}
}
@media (max-width: 1200px){
	.navbar-default{
		margin: 0px 0px;
		}
	.navbar-fixed-top{
		right: 0;
		left: 0;
		width: auto;
	}
} 
#web{
	margin: 80px 20px 0px 50px;
	.imgs{
		padding-top: 40px;
	}
	.intro{
		.intro-1{
			padding-left: 20px;
			&:before{
				content: "";
				background: #f4f4f4;
				position: absolute;
				width: 5px;
				height: 54px;
				left: 15px;
				top: 3px;
				font-weight: 300px;
				}	
			h1{
				font-size: 25px;
				font-weight: bold;
			}
			h5{
				font-size: 20px;
				font-style: italic;
				color: #bbbbbb;
				font-family: "Times New Roman", Times, serif;
			}
		}
		.intro-2{
			margin-bottom: 60px;
			img{
				padding: 20px 0px;
			}
			p{
				line-height: 30px;
			}
		}
		.intro-3{
			.tr{
				&:before{
				content: "";
				background: #f4f4f4;
				position: absolute;
				width: 385px;
				height: 2px;
				left: 0px;
				top: 85px;
				}
				&:after{
				content: "";
				background: #f4f4f4;
				position: absolute;
				width: 360px;
				height: 2px;
				right: 0px;
				top: 85px;
				}		
			}
			.short{
				padding-top: 40px;
				&:before{
				content: "";
				position: absolute;
				width: 18px;
				height: 18px;
				left: 400px;
				top: 11px;
				border: solid 3px #f4f4f4;
				border-radius: 100%;
				}	
				&:after{
				content: "";
				background: #f4f4f4;
				position: absolute;
				width: 2px;
				height: 55px;
				top: -70px;
				right: 385px;
				}	
			}
			.media:first-child{
				margin-top: 15px;
			}
			.bott{	
				.media-body{
					padding-right: 20px;
				}
				h4{
				font-size: 15px;
				font-weight: bold;
				text-align: right;
				}
				p{
				text-align: right;
				font-size: 15px;
				font-family: "Times New Roman", Times, serif;
				color: #bbbbbb;
				font-style: italic;
				}
			}
			.rig{
				.media-body{
					padding-right: 20px;
				}	
				h4{
				font-size: 15px;
				font-weight: bold;
				text-align: right;
				}
				p{
				text-align: right;
				font-size: 15px;
				font-family: "Times New Roman", Times, serif;
				color: #bbbbbb;
				font-style: italic;
				}
			}
			.lef{
				padding-left: 40px;
				.media-body{
					padding-left: 20px;
				}
				h4{
				font-size: 15px;
				font-weight: bold;
				}
				p{
				font-size: 15px;
				font-family: "Times New Roman", Times, serif;
				color: #bbbbbb;
				font-style: italic;
				}
			}
			.to{
				padding-left: 40px;
				.media-body{
					padding-left: 30px;
				}
				&:before{
				content: "";
				background: #f4f4f4;
				position: absolute;
				width: 2px;
				height: 60px;
				left: 10px;
				top: 0px;
				}	
				h4{
				font-size: 15px;
				font-weight: bold;
				}
				p{
				font-size: 15px;
				font-family: "Times New Roman", Times, serif;
				color: #bbbbbb;
				font-style: italic;
				}
			}
			
		}
	}
}
.tab-1{
	height: 50px;
}

.tab{
	height: 170px;
}

@media (max-width:1200px){
	#web{
		margin: 30px 30px;
	}
	.intro-3{
		.tr{
			&:before{
				display: none;
			}
			&:after{
				display: none;
			}
		}
		.short{
			&:before{
				display: none;
			}
			&:after{
				display: none;
			}
		}
		.to{
			&:before{
				display: none;
			}
		}

	}
	.tab{
		height: 100px;
	}

}

footer{
	background-color: #004761;
	height: auto;
	font-family: Tahoma, Geneva, sans-serif;
	.contact{
		color: #fff;
		font-size: 15px;
		line-height: 15px;
		padding-top: 100px;
		padding-left: 50px;
		h6{
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 50px;
		&:before{
			content: "";
			background: #f4f4f4;
			position: absolute;
			width: 35px;
			height: 2px;
			left: 75px;
			top: 35px;
			}
		}
		p{
			
		}
		i{
			padding-right: 10px;
			font-size: 40px;
			}

		.vitri{
			margin-top: 15px;
			position: relative;
			overflow: inherit;
			&:after{
			content: "";
			background: #fccb17;
    		position: absolute;
    		width: 300px;
    		height: 4px;
    		left: 25px;
    		top:165px;
			}	
		}		
		.phone{
			position: relative;
			overflow: inherit;
			&:after{
			content: "";
			background: #ff52bb;
    		position: absolute;
    		width: 280px;
    		height: 4px;
    		left: 25px;
    		top:165px;
			}	
		}
		.time{
			position: relative;
			overflow: inherit;
			&:after{
			content: "";
			background: #a5d900;
    		position: absolute;
    		width: 280px;
    		height: 4px;
    		left: 25px;
    		top:165px;
			}	
		}
	}

.contact-1{
		background-color: #00aadd;
		height: auto;
		color: #fff;
		font-size: 15px;
		padding-top: 20px;
		padding-bottom: 23px;
		margin-top: 100px;
		margin-bottom: 50px;
		h5{
			font-weight: bold;
		i{
			font-size: 35px;
			padding-right: 10px;
			}
		}
		a{
			color: #fff;
			font-weight: bold;
			background-color: #ffaa00;
			padding: 9px;
			&:hover{
				background-color: #a5d900;
			}
		}
		.email{
			padding-top: 10px;
			input[type='text']{
			width: 340px;
			height: 40px;
			color: blue;
			}
		}
	}
}
.contact-2{
	padding-bottom: 30px;
		a{
			border-right: dotted 1px #5eb1fa;
			color: #fff;
			font-size: 15px;
			text-align: center;
			&:hover{
				color: #22b5e2;
			}
			&:last-child{
			border-right: none;
			}
		}
	h4{
		color: #fff;
		font-size: 15px;
	}
}

@media (max-width: 768px){
		footer{
		 .contact{
			padding-top: 20px;
			padding-left: 0px;
			.vitri{
				&:after{
					display: none;
				}
			}
			.phone{
				&:after{
					display: none;
				}
			}
			.time{
				&:after{
					display: none;
				}
			}
		}
		.contact-1{
			margin-top: 20px;
			.email{
				padding-top: 4px;
				input[type='text']{
				width: 280px;
				height: 30px;
				color: blue;
				}
			a{
				padding: 4px;
				}
			}
		}
		.contact-2{
			h4{
				padding-top: 15px;
				text-align: center;	
			}
			a{
				text-align: center;
				border-right: 0px;
			}
		}
	}
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: black;
  color: #fff;
  &:hover{
  	color: #f89502;
  }
}	